body {
    margin: 0 auto;
    color: rgb(255, 255, 255);
    font-family: system-ui;
    /* Good for responsive. Adjusts dynamically rather than resize font manually per screen type which can gets messy - https://clamp.font-size.app/ */
    font-size: clamp(0.625rem, -0.0112rem + 3.3929vw, 2rem);
    overflow: hidden;
    background: url("/assets/bg/star.png") no-repeat center center / cover fixed;
    background-attachment: fixed;
    max-width: 1420px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*
html {
    cursor: url("assets/cursor/cursor.cur"), pointer;
}
*/

/* 1vw is 1% of viewport width. For example, 8vw of 1000px is 80px. */

/*************************/
/* Star Wars Theme */
/*************************/
.star-wars-opening h1 {
    text-shadow: -5px -5px #eede46, 5px -5px #eede46, -5px 5px #eede46,
        5px 5px #eede46;
    /* Creates shadows in all four directions */
    animation: opening-out 5s normal 1.5s forwards;
}

.star-wars-opening {
    font-size: 10vh;
    color: black;
    line-height: 22px;
    text-align: center;
    height: 100vh;
    width: 100vw;
}

.greeting {
    max-width: 1420px;
    margin-top: 25vh;
    font-size: 8vw;
}

.rogue-one img {
    z-index: 1;
    position: absolute;
    top: -9999px;
    animation: rogue-one-fly-in 4s normal 0s forwards;
    height: 4em;
}

.fathead img {
    position: absolute;
    top: -9999px;
    animation: fathead-fly-in-1 4s normal 1s forwards;
    height: 1em;
}

.falcon img {
    position: absolute;
    top: -9999px;
    animation: falcon-fly-in 4s normal 1.5s forwards;
    height: 2em;
}

.venator img {
    position: absolute;
    top: -9999px;
    animation: venator-fly-in 4s normal 2s forwards;
    height: 2em;
}

.xwing img {
    position: absolute;
    top: -9999px;
    animation: xwing-fly-in 4.5s normal 4.5s forwards;
    height: 1em;
}

.skipOptionPara {
    font-weight: 800;
    position: absolute;
    top: -1em;
    right: 0;
    background: red;
    color: rgb(226, 226, 226);
    width: fit-content;
    font-size: 12px;
    padding: 5px;
    animation: skipOptionPara 4s normal 6s forwards;
    z-index: 10;
    opacity: 95%;
}

/******************/
/* CSS ANIMATIONS */
/******************/
@keyframes opening-out {
    to {
        opacity: 0%;
    }
}

@keyframes rogue-one-fly-in {
    from {
        top: -10em;
        right: 50vh;
    }

    80% {
        right: 5vw;
    }

    to {
        top: 20vh;
        right: 150vw;
        display: none;
    }
}

@keyframes fathead-fly-in-1 {
    from {
        top: -5em;
        right: 70vh;
    }

    80% {
        right: 5vh;
    }

    to {
        top: 10vh;
        right: 150vw;
        display: none;
    }
}

@keyframes fathead-fly-in-2 {
    from {
        top: -10em;
        right: 90vh;
    }

    80% {
        right: 50vh;
    }

    to {
        top: 50vh;
        right: 150vw;
        display: none;
    }
}

@keyframes fathead-fly-in-3 {
    from {
        top: -5em;
        right: 70vh;
    }

    80% {
        right: 20vh;
    }

    to {
        top: 70vh;
        right: 150vw;
        display: none;
    }
}

@keyframes falcon-fly-in {
    from {
        top: -5em;
        right: 70vh;
    }

    80% {
        right: 5vw;
    }

    to {
        top: 70vh;
        right: 150vw;
        display: none;
    }
}

@keyframes venator-fly-in {
    from {
        top: -5em;
        right: 70vh;
    }

    80% {
        right: 10vw;
    }

    to {
        top: 30vh;
        right: 150vw;
        display: none;
    }
}

    @keyframes xwing-fly-in {
    0% {
        height: 10vh;
        top: 0;
        right: 0;
    }

    25% {
        rotate: -20deg;
        height: 30vh;
        top: 20vh;
        right: 60vw;
    }

    65% {
        rotate: 90deg;
        top: 20vh;
        right: -150vw;
    }

    66% {
        rotate: 0deg;
    }

    100% {
        top: 0;
        right: 0;
        max-width: 100vw;
        height: auto;
    }
}

@keyframes skipOptionPara {
    to {
        opacity: 0%;
    }
}

/****************************************/
/* MEDIA QUERIES for Responsive Screens */
/****************************************/
@media screen and (min-width: 1420px) {
    .greeting {
        font-size: 110px;
    }
}